.featuredPosts
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  gap: 30px
  margin-bottom: 70px

.featuredPostsContainer
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  gap: 30px
